.Header{
    padding : 20px ;
    display : flex; 
    align-items : center ;
    justify-content: center;
    font-weight: 100 ;
    color : #333 ;
    text-transform: capitalize;
    span{
        padding : 0px 15px 
    }
}